.app-home {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 850px;
  margin: 0 auto;
}
h3 {
  margin: 8px 0;
}
.tiles {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  height: 158px;
  overflow-y: auto;
  background-color: #ddd;
  padding: 8px;
  justify-content: center;
  @media screen and (min-width: 880px) {
    column-gap: 16px;
  }
}

.canvas-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  .canvas {
    width: 280px;
    height: 250px;
    position: relative;
    ::slotted(cc-tile),
    img {
      position: absolute;
      left: 15px;
    }
  }
  .current-tiles {
    ol {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 300px;
      column-gap: 32px;
      row-gap: 8px;
      padding-left: 20px;
    }
  }

  .challenge {
    width: 250px;
    img {
      width: 100%;
    }
    .challenge-controls {
      display: flex;
      gap: 16px;
      justify-content: space-around;

      h4 {
        margin: 0;
        line-height: 40px;
      }
      button {
        width: 40px;
        height: 40px;
        background-color: lightgray;
        border: 1px solid black;
        color: black;
        width: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
        border-radius: 8px;
      }
    }
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 258px;
  button {
    background-color: #9ebe4b;
    border: 2px solid darkgreen;
    color: black;
    width: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    border-radius: 8px;

    &.check {
      background-color: #305d9e;
      border: 2px solid black;
      color: white;
    }
  }
}

.solution {
  position: absolute;
  top: 0;
  display: flex;
  left: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  width: 250px;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  h5 {
    margin-top: 0px;
    margin-bottom: 8px;
  }
  &.hidden {
    display: none;
  }
  button {
    background-color: #e1e0e0;
    border: 1px solid rgb(77, 77, 77);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    border-radius: 8px;
    padding: 4px;
  }
}
h4.keep-trying {
  margin: 8px 0;
  text-align: center;
  width: 280px;
}
