.app-home {
  padding: 16px;
  max-width: 850px;
  margin: 0 auto;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
  height: 158px;
  overflow-y: auto;
  background-color: #ddd;
  padding: 8px;
  justify-content: center;
}

.canvas-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  .canvas {
    width: 300px;
    height: 300px;
    ::slotted(cc-tile) {
      position: absolute;
    }
  }
  .current-tiles {
    ol {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 300px;
      column-gap: 32px;
      row-gap: 8px;
    }
  }

  .challenge {
    width: 250px;
    img {
      width: 100%;
    }
    .challenge-controls {
     display: flex;
     gap: 16px;
     justify-content: space-around; 
    }
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  button {
    background-color: #9EBE4B;
    border: 2px solid darkgreen;
    color: black;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 8px;
  }
}

.solution {
  margin-top: 32px;
  text-align: center;
  button {
    background-color: #305D9E;
    border: 2px solid black;
    color: white;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border-radius: 8px;
  }
}
h3.complete {
  color: green;
}